body {
  background-color: black;
  color: whitesmoke;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 10px;
  width: 50%;
  min-height: 500px;
  /* min-width: 400px; */
}

.header {
  background-color: whitesmoke;
  width: 100%;
  height: 82px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: whitesmoke;
  color: black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 8px 8px;
  font-size: 15px;
}

input {
  font-family: "Lato", sans-serif;
  /* margin-left: 10px; */
  font-size: 15px;
  /* padding: 8px; */
  border-radius: 2px 0 0 2px;
  border: 1.6px solid black;
}

button {
  font-family: "Lato", sans-serif;
  background-color: black;
  color: whitesmoke;
  border-radius: 0 2px 2px 0;
  text-transform: uppercase;
  font-size: 15px;
  padding: 8px 10px 8px 10px;
  border: 1.6px solid black;
}

button:hover {
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  border-left: 1.6px solid transparent;
}

.Cloudy,
.Mist,
.Haze,
.Dust,
.Fog,
.Sand,
.Weather,
.status {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  flex-grow: 1;
  min-height: 300px;
  background-color: lightgrey;
  color: black;
  padding: 30px 50px 0 50px;
  box-sizing: border-box;
}

.HourlyWeather {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  overflow: scroll;
  scrollbar-color: black whitesmoke;
  margin: 20px 0 20px 0;
}

.HourlyWeatherWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: black lightgrey;
  scroll-behavior: smooth;
}

.HourlyWeatherElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
}

.DailyWeather {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.DailyWeatherElement {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.DailyWeatherElementTemperature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.DailyWeatherElementTemperature > * {
  margin-left: 15px;
  min-width: 32px;
  text-align: right;
}

.DailyWeatherElementTemperature :last-child {
  min-width: auto;
}

.Clear,
.Sunny {
  background-color: lightyellow;
  color: black;
}

.Rain,
.Drizzle {
  background-color: lightblue;
  color: black;
}

.Thunderstorm,
.Smoke,
.Ash,
.Squall,
.Tornado {
  background-color: grey;
  color: black;
}

.Snow {
  background-color: grey;
  color: white;
}

h1 {
  color: black;
  margin-right: 20px;
}

h1:hover {
  cursor: pointer;
}

.locations {
  width: 100%;
  display: flex;
  background-color: black;
  text-transform: uppercase;
  font-weight: 600;
  flex-grow: 1;
  overflow: scroll;
}

.location {
  width: 34%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  font-size: 20px;
  background-color: lightgrey;
  color: black;
  border: 1px solid black;
  box-sizing: border-box;
}

.location-content {
  flex-grow: 1;
}

.location.row {
  border: none;
  width: 100%;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.location-text {
  padding: 20px;
  width: 100%;
  text-transform: capitalize;
  font-weight: 400;
}

.location-text.temperature {
  font-size: 40px;
  font-weight: 600;
}

.location-button {
  display: flex;
  background-color: lightgrey;
  /* margin-left: 80%;
  margin-bottom: 10%; */
  width: 100%;
  padding: 10px 20px 10px 20px;
  text-transform: none;
  font-size: 15px;
  align-items: center;
}

.location-content:hover,
.location-button:hover,
.selected {
  background-color: whitesmoke;
  cursor: pointer;
}

/* .location-button:hover {
  background-color: rgba(162, 162, 162, 0.574);
  pointer: c;
} */

.browse-locations {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
  font-size: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: black;
  color: white;
  text-transform: none;
  width: 100%;
  padding: 20px;
  font-weight: 700;
}

.browse-locations:hover {
  cursor: pointer;
}

.map-search {
  display: flex;
  max-width: 100vh;
}

.autocomplete-container {
  width: 100%;
}

.autocomplete-container > * {
  width: 230px;
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid black;
}

.map-search-input {
  height: 53px;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}

.map-search-input.button {
  border-bottom: 2px solid black;
  border-radius: 0 0 0 0;
  min-width: fit-content;
}

.predictions {
  background-color: white;
  color: black;
  font-size: 15px;
  box-sizing: border-box;
  overflow: scroll;
  border-top: none;
}

.custom-list {
  list-style-type: none;
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

.custom-list :last-child {
  border-bottom: none;
}

.custom-list-item {
  padding: 0;
  margin: 0;
  padding-top: 10%;
  padding-bottom: 5%;
  /* border-bottom: 1.5px solid black; */
}

.custom-list-item:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.m {
  font-size: 30px;
}

h2 {
  margin: 10px;
  font-size: 50px;
}

.xl {
  font-size: 50px;
}

.s {
  font-size: 18px;
  /* line-height: 21.4px; */
  vertical-align: text-top;
}

.Divider {
  border-top: 3px dotted #141414;
  width: 100%;
}

.primary {
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 1100px) {
  .container {
    width: 90%;
  }

  .location {
    min-width: 60%;
  }
}
